.redes {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    font-size: 55px;
    color: map-get($colores , color-texto );
  }
  
  .redes1 {
    display: block;
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    padding: 40px;
    text-align: center;
    letter-spacing: 50px;
    font-weight: bolder;
    margin-top: 80px;
    margin-right: 100px;
    a{
      text-decoration: none;

            color: map-get($colores , color-texto );
            letter-spacing: 20px;
            font-size: 20px;
    }
    i{
      padding: 25px;
        color: map-get($colores, color-fondo );

      
    }
  }
  
