.secciones {
    display: grid;
    text-align: center;
    color: map-get($colores , color-texto );
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    padding: 50px;
    .plan {
        font-weight: bolder;
        font-size: 20px;
      }
      .seccion1 {
        letter-spacing: 2px;
        padding: 30px;
        font-weight: bolder;
        div{
            padding: 10px;
            a{
                text-decoration: none;
                color: map-get($colores, color-terciario );
                background-color: map-get($colores, color-fondo );
                text-align: center;
                text-decoration: none;
                padding: 10px 30px;
                border-radius: 25px;
                font-weight: bolder;
                font-size: 10px;
                transition: all 300ms;
                &:hover{background-color: map-get($colores, color-secundario );
                    color: map-get($colores , color-texto );
                transform: scale(0,05);
                }
            }
        }
      }
  }
  
